{{#if edit.eventRecur}}
  <div class="event-recur-editing">
    <span><a href="#" class="save-event-recur">save changes</a></span>
    <span><a href="#" class="edit-event-recur">cancel</a></span>

    <h3>Event Schedule</h3>
    <p>
      This event occurs once a
      <input class="chooseRpt" name="chooseRpt" type="radio" value="true" {{#if event.recurMonthly}} checked{{/if}}><label name="chooseRpt">month</label>
      <input class="chooseRpt" name="chooseRpt" type="radio" value="false" {{#unless event.recurMonthly}} checked {{/unless}}><label name="chooseRpt">week</label>
    </p>
    <p>on
      <div class="choose-monthly-rpt">
      </div>
      <select class="weekly-option-input">
        {{#select event.weeklyRpt}}
        <option value="1">Monday</option>
        <option value="2">Tuesday</option>
        <option value="3">Wednesday</option>
        <option value="4">Thursday</option>
        <option value="5">Friday</option>
        <option value="6">Saturday</option>
        <option value="0">Sunday</option>
        {{/select}}
      </select>
    </p>
    <p><label name="end-date">End Date</label>
      <input name="end-date" class="event-end-date-input" type="date" value={{#dateForm}}{{event.endDate.iso}}{{/dateForm}}></p>
  </div>

{{else}}
  <div class="event-recur-viewing">
    <span><a href="#" class="edit-event-recur">edit</a></span>
    <h3>Event Schedule</h3>
    </p>This event repeats every {{event.monthlyRpt}} {{event.weeklyRptName}}</p>
    <p>End Date: {{#dateShort}}{{event.endDate.iso}}{{/dateShort}}</p>
  </div>
{{/if}}
