{{#if edit.eventHeader}}
  <div class="event-header-editing">
    <span><a href="#" class="save-event-header">save changes</a></span>
    <span><a href="#" class="edit-event-header">cancel</a></span>

    <h2><input value="{{event.name}}"name="name" class="event-name-input" type="text"></h2>

    <p><label name="event-type">Event Type</label>
      <select class="event-type-input" name="event-type">
        {{#select event.type}}
        <option value="contra-dance">Contra Dance</option>
        <option value="advanced-contra-dance">Advanced Contra Dance</option>
        <option value="contra-workshop">Contra Workshop</option>
        <option value="waltz">Waltz Dance</option>
        <option value="waltz-workshop">Waltz Workshop</option>
        <option value="square-dance">Square Dance</option>
        <option value="dance-weekend">Dance Weekend</option>
        <option value="caller-workshop">Caller Workshop</option>
        {{/select}}
      </select></p>

      {{#unless event.recurring}}
        <p>
          <label name="start-date">Start date</label>
            <input name="start-date" class="event-start-date-input" type="date" value={{#dateForm}}{{event.startDate.iso}}{{/dateForm}}>
        </p>
        <p><label name="multi-day">Multi-day Event</label>
          <input name="multi-day"class="multi-day-input" type="checkbox"></p>
          <div class="multi-day">
        </div>
      {{/unless}}

    <p><label name="start-time">Start time</label>
      <input value="{{event.startTime}}" name="start-time" class="event-start-time-input" type="time"></p>

    <p><label name="end-time">End time</label>
      <input value="{{event.endTime}}" name="end-time" class="event-end-time-input" type="time"></p>

  </div>
{{else}}
  <div class="event-header-viewing">
    <span><a href="#" class="edit-event-header">edit</a></span>
    <h2>{{event.name}}</h2>
      <p>Type: {{event.type}}</p>
      {{#if event.multiDay}}<p>This is a multi-day event</p>{{/if}}
      {{#unless event.recurring}}
        <p>Start Date: {{#dateShort}}{{event.startDate.iso}}{{/dateShort}}</p>
        <p>End Date: {{#dateShort}}{{event.endDate.iso}}{{/dateShort}}</p>
      {{/unless}}
      <p>Start Time: {{event.startTime}}</p>
      <p>End Time: {{event.endTime}}</p>
  </div>
{{/if}}
