{{#if name}}
  <h3>{{name}}</h3>
  occurs every {{monthlyRpt}} {{weeklyRptName}}
  <a href="#/orgs/{{orgUrlId}}/{{objectId}}">manage</a>
  <a href="#" class="delete-recur">cancel all events</a>
  <div class="sub-events"></div>
  <a href="#" class="toggle-sub-events show"><i class="fa fa-sort-asc">Show sub-events</i></a>
  <a href="#" class="toggle-sub-events hide hidden"><i class="fa fa-sort-desc">Hide sub-events</i></a>
{{else}}
  You have no recurring events. <a href="#/orgs/{{urlId}}/create-event">Click here to add a new event</a>
{{/if}}
