{{#unless event.recurring}}
  {{#if edit.venueInfo}}
    <divclass="venue-info-editing">
      <span><a href="#" class="save-venue-info">save changes</a></span>
      <span><a href="#" class="edit-venue-info">cancel</a></span>
      <h3>Venue Info</h3>
      <label name="venue-name">Venue Name</label>
        <input name="venue-name" class="venue-name-input" type="text" placeholder="venue name" value="{{event.venue.name}}">
      <label name="address">Venue Address</label>
        <input name="address" class="event-address-input" type="text" placeholder="venue address" value="{{event.venue.fullAddress}}">
      <label name="zipcode">Venue Zipcode</label>
        <input name="zipcode" class="event-zipcode-input"type="text" placeholder="venue zipcode" value="{{event.venue.zipcode}}">
    </div>
  {{else}}
  <div class="venue-info-viewing">
    <span><a href="#" class="edit-venue-info">edit</a></span>
    <h3>Venue Info</h3>
    <h4>
      {{event.venue.name}}
    </h4>
    <p>
      {{event.venue.fullAddress}}
    </p>
  </div>
  {{/if}}
{{/unless}}
