{{#if loggedIn}}
  {{!-- use able to manage this event --}}


  <div class="event-header">
  </div>

  {{#if event.recurring}}
    <div class="event-recur">
    </div>
  {{/if}}

  <div class="event-info">
  </div>

  <div class="venue-info">
  </div>

{{else}}

  {{#if event.recurring}}
  <span>sorry, you don't have permission to manage this event</span>

  {{else}}
  {{!-- user cannot manage this event, only view --}}
    <div class="event-header-viewing">
      <h2>{{event.name}}</h2>
      <p>
        {{#if event.multiDay}}From {{/if}}
        {{#dateShort}}{{event.startDate.iso}}{{/dateShort}}
        {{#if event.multiDay}} to {{#dateShort}}{{event.endDate.iso}}{{/dateShort}}{{/if}}
        {{#if event.weeklyRptName}} and every {{event.weeklyRptName}}{{/if}} from
        {{#time}}{{event.startTime}}{{/time}}-{{#time}}{{event.endTime}}{{/time}}
      </p>
      <p>by <a href="#/orgs/{{eventOrg.urlId}}">{{eventOrg.name}}</a></p>
    </div>

    <div class="event-info-viewing">
      <h3>Event Info</h3>
      <p>Cost: ${{event.price}}</p>
      <p>
        Band: {{#if event.band}}{{event.band}}{{else}}TBA{{/if}}
      </p>
      {{#if event.musicians}}
        <p>
          Musicians: {{event.musicians}}
        </p>
      {{/if}}
      <p>
        Caller: {{#if event.caller}}{{event.caller}}{{else}}TBA{{/if}}
      </p>
      <p>
        This {{event.type}} is
        {{#unless event.beginnerFrdly}} NOT {{/unless}}
        beginner friendly
        {{#if event.workshopIncl}} and includes a workshop.{{/if}}
      </p>
      {{#if event.notes}}
        <p>
          Organizer notes: {{event.notes}}
        </p>
      {{/if}}
    </div>

    <div class="venue-info-viewing">
      <h3>Venue Info</h3>
      <h4>
        {{event.venue.name}}
      </h4>
      <p>
        {{event.venue.fullAddress}}
      </p>
    </div>

  {{/if}}

{{/if}}
