  <h3>{{event.name}}</h3>
  <a href="#/orgs/{{event.orgUrlId}}/{{event.objectId}}">View details</a>
  {{#if owner}}
    <a href="#" class="delete-event">cancel this event</a>
  {{else}}
    {{#if attending}}
      <a href="#" class="unrsvp">cancel your RSVP</a>
    {{else}}
      <a href="#" class="rsvp">RSVP</a>
    {{/if}}
  {{/if}}
  {{#dateDisplay}}{{event.startDate.iso}}{{/dateDisplay}} {{#time}}{{event.startTime}}{{/time}}
  <div class="type">{{event.type}}</div>
