<div id="content">
  <div id="siteNotice">
  </div>
  <h1 id="firstHeading" class="firstHeading">
  <a href="#/orgs/{{orgUrlId}}/{{objectId}}">
  {{name}}</a></h1>
  <div id="bodyContent">
  <p>{{#dateDisplay}}{{startDate.iso}}{{/dateDisplay}} {{startTime}}</p>
  <p>{{venue.fullAddress}}</p>
  </div>
</div>
